<form novalidate [formGroup]="stationForm">

    <table>
        <!-- ROW 1: NAME AND CODE-->
        <tr>
            <td>
                <!-- STATION NAME -->
                <div class="form-group row mb-2" id="form-field">
                    <div class="col-md-8">
                        <mat-form-field appearance="fill">
                            <mat-label>Station Name</mat-label>
                            <input matInput placeholder="Station Name (required)" formControlName="stationName"
                                required>
                            <mat-error *ngIf="stationForm.get('stationName')?.errors?.['required']">
                                Please enter Station name.
                            </mat-error>
                            <mat-error *ngIf="stationForm.get('stationName')?.errors?.['minlength']">
                                The Station name must be longer than 3 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </td>
            <td>
                <!-- TRAIN CODE -->
                <div class="form-group row mb-2" id="form-field">
                    <div class="col-md-8">
                        <mat-form-field appearance="fill">
                            <mat-label>Station Code</mat-label>
                            <input matInput placeholder="Station Code (required)" formControlName="stationCode"
                                required>
                            <mat-error *ngIf="stationForm.get('stationCode')?.errors?.['required']">
                                Please enter the Code.
                            </mat-error>
                            <mat-error *ngIf="stationForm.get('stationCode')?.errors?.['minlength']">
                                Code must be atleast 4 characters long.
                            </mat-error>
                            <mat-error *ngIf="stationForm.get('stationCode')?.errors?.['maxlength']">
                                Code longer than 5 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<button mat-raised-button class="btn btn-primary">Back</button>
<button mat-raised-button class="btn btn-primary mr-3" type="submit" style="width:80px"
    [title]="stationForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
    [disabled]="!stationForm.valid" (click)="openConfirmationDialog()">
    Save
</button>